.icon {
  &-circle {
    border-radius: 50%;
    border: 1px solid var(--color-gray);
    padding: 8px;
    font-size: 40px;
    cursor: pointer;
    background-image: linear-gradient(to top right, var(--color-primary) 0%, var(--color-blue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
