.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &__logo-content {
    span {
      font-size: 20px;
      font-weight: 400;

      .icon {
        cursor: pointer;
        background-image: linear-gradient(to top right, var(--color-primary) 0%, var(--color-blue) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__list-menu {
    display: flex;
    justify-content: space-around;

    .item-menu {
      margin-left: 15px;
    }
  }
}

.icon {
  cursor: pointer;
}
