html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-general);
}

a {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
