:root {
  --color-primary: rgba(92,226,127,1);
  --color-blue: rgba(92,171,226,1);
  // --color-primary: linear-gradient(90deg, rgba(92,226,127,1) 0%, rgba(92,171,226,1) 100%);
  --color-primary-ligth: #5CE27F;
  --color-secondary: #E25C5C;
  --color-yellow: #FFE12D;
  --color-black: #000000;
  --color-black-medium: #121212;
  --color-black-light: #313131;
  --color-gray: #B1B1B1;
  --color-gray-white: #EFEFEF;
  --color-white: #ffffff;
  --color-primary-dark: #282838;
}
