@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-general);
}

a {
  text-decoration: none;
  color: var(--color-black);
}
a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --font-inter: "Inter", sans-sarif;
  --font-general: "Roboto", sans-serif;
}

.simple-text {
  color: var(--color-gray);
  font-size: 15px;
}

:root {
  --color-primary: rgba(92,226,127,1);
  --color-blue: rgba(92,171,226,1);
  --color-primary-ligth: #5CE27F;
  --color-secondary: #E25C5C;
  --color-yellow: #FFE12D;
  --color-black: #000000;
  --color-black-medium: #121212;
  --color-black-light: #313131;
  --color-gray: #B1B1B1;
  --color-gray-white: #EFEFEF;
  --color-white: #ffffff;
  --color-primary-dark: #282838;
}

.icon {
  font-size: 22px;
  padding: 2px;
  color: var(--color-black);
}
.icon--active {
  color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
  border: solid 1px var(--color-primary);
  border-radius: 7px;
}

.label.Mui-focused {
  color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
}

.MuiInput-underline:after {
  color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
}

.MuiInputBase-input,
.MuiOutlinedInput-input {
  color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
}
.MuiInputBase-input:after,
.MuiOutlinedInput-input:after {
  color: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
}

.form-list {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.card-list {
  display: flex;
  padding: 3rem;
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}
.card-list .card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5em;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}
.card-list .card:hover {
  transform: translateY(-1em);
  margin-left: 3rem;
  margin-right: 3rem;
}
.card-list .card:hover ~ .card {
  transform: translateX(130px);
}
.card-list .card:not(:first-child) {
  margin-left: -130px;
}
.card-list .card-header {
  margin-bottom: auto;
}
.card-list .card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}
.card-list .card-header:hover h2 {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-list .card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}
.card-list .card-author .author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}
.card-list .card-author .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.card-list .card-author .author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.navbar__logo-content span {
  font-size: 20px;
  font-weight: 400;
}
.navbar__logo-content span .icon {
  cursor: pointer;
  background-image: linear-gradient(to top right, var(--color-primary) 0%, var(--color-blue) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar__list-menu {
  display: flex;
  justify-content: space-around;
}
.navbar__list-menu .item-menu {
  margin-left: 15px;
}

.icon {
  cursor: pointer;
}

.list_deprecaded {
  margin: 35px;
}
.list_deprecaded-item_deprecaded {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s;
  margin-bottom: 5px;
}
.list_deprecaded-item_deprecaded:hover {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
  color: var(--color-white);
}
.list_deprecaded-item_deprecaded:hover .icon {
  color: var(--color-white);
}
.list_deprecaded-item_deprecaded__title {
  display: flex;
}
.list_deprecaded-item_deprecaded__title .icon-container .icon {
  font-size: 30px;
  margin-right: 15px;
}
.list_deprecaded-item_deprecaded__title .title {
  margin-top: 6px;
  font-size: 18px;
}
.list_deprecaded-item_deprecaded__description {
  display: flex;
  font-size: 18px;
}
.list_deprecaded-item_deprecaded__description .price {
  margin-top: 3px;
}
.list_deprecaded-item_deprecaded__description .item {
  margin-left: 15px;
}

.search-bar {
  margin: 30px;
  border: 1px solid var(--color-black);
  border-radius: 10px;
  padding: 10px;
}

.create-expense {
  margin: 30px;
}

.breadcrumb {
  margin: 10px;
}

.message-container {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
}
.message-container--active {
  justify-content: flex-end;
}
.message-container .image-container {
  max-height: 50%;
}
.message-container .image-container .image {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.message-container .image-container .image--active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.message-container .message {
  background: var(--color-gray-white);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  max-width: 50%;
}
.message-container .message--active {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-blue) 100%);
  color: var(--color-white);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.App {
  margin: 30px;
}

.list-item {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  gap: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
.list-item .content {
  display: grid;
  text-align: left;
  align-items: center;
  justify-content: left;
  padding-bottom: 2px;
}
.list-item .content .title {
  margin: 0px;
}
.list-item .info-content {
  display: grid;
  align-items: center;
  justify-content: right;
}
.list-item .info-content .count {
  background: linear-gradient(to top right, var(--color-primary) 0%, var(--color-blue) 100%);
  color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container {
  position: relative;
}
.avatar-container .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar-container .half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.icon-circle {
  border-radius: 50%;
  border: 1px solid var(--color-gray);
  padding: 8px;
  font-size: 40px;
  cursor: pointer;
  background-image: linear-gradient(to top right, var(--color-primary) 0%, var(--color-blue) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-tab {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr;
}

.login {
  margin: 30px;
}
.login-form {
  padding: 15px;
}
.login-form form {
  display: grid;
  gap: 10px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header main main main" "sidebar main main main";
}
.layout .header {
  grid-area: header;
  border-bottom: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}
.layout .main {
  grid-area: main;
  overflow: scroll;
}
.layout .sidebar {
  grid-area: sidebar;
  padding: 15px;
  border-right: 1px solid var(--color-gray);
  overflow: auto;
}

.home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 10%;
}
.home h1 {
  margin: 0;
}
.home .subtitle {
  color: var(--color-black);
}
.home .home-image {
  text-align: center;
}/*# sourceMappingURL=main.css.map */